In [1]:
import pandas as pd
data = pd.read_csv("../data/dataset.csv")

def listify(x):
    if isinstance(x, list):
        return x
    else:
        return [x]
    
def crosstab(x, y):
    x = listify(x)
    y = listify(y)
    display(pd.crosstab([data[i] for i in x], [data[i] for i in y]))

In [6]:
crosstab("Role", ["Discontinuous"])

Discontinuous  False  True
Role
a                  0     2
obl                4     6
poss               0     1
s                  2     5